<%provide(:title, "MemeðŸ‘ReviewðŸ‘")%>
<div class="row white-text" id="main-info">
  <div class="col offset-m2 m8 s12">
    <p class="flow-text">Based on YouTube's favorite show. Meme Review! All the memes PewDiePie has reviewed along with their ratings and episode</p>
  </div>
</div>
<div class="row container" id="main-elem">
  
  <%=render partial: 'memes/meme', collection: @memes%>
</div>
<%= will_paginate @memes%>
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    <p class="left">Please don't copystrike me Pewds</p>
    <%=image_tag("logo.png", class: "right brand-logo-footer")%>
    </div>
  </div>
</footer>