<% provide(:title, t('.title')) %>
<div class="row container need_margin_body">
  <h5><%=t('.subtitle')%></h5>
  <div class="col s12">
    <% provide(:button_title, t('.button')) %>
    <%= render 'shared/userform'%>
  </div>
</div>
