<% if object.errors.any?%>
  <div id="error_explanation">
    <ul class="collection">
      <% object.errors.full_messages.each do |msg| %>
        <li class="collection-item"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<%end%>
