$main-color: #FE1126; //211,3,3
$main-color-dark: #c20000; //211,3,3
$main-color-light: #ff5e51; //211,3,3
$complementary-color: #0CBBE3;
$complementary-color-dark: #008bb1;
$complementary-color-light: #67eeff;

$primary-color: $main-color;
$primary-color-light: $main-color-light;
$primary-color-dark: $main-color-dark;
$secondary-color: $complementary-color;

$card-link-color: $complementary-color;
$card-link-color-light: $complementary-color-light;

$footer-bg-color: #000;
$footer-copyright-font-color: #fff;
$footer-copyright-bg-color: #000;

@import "materialize";

.need_margin_body{
  padding-top: 52px !important;
}

html {
  font-family: 'Roboto', sans-serif;
}
body{
  background: #969696;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto Slab', serif;
}

.brand-logo{
   //max-width:100%;
   max-height:100%;
}
.brand-logo-footer{
   max-width:20vw;
   max-height:100%;
}

.image-main{
}
.card-image-main{
  max-height:  40vh;
  overflow: hidden;
}
.card-image-show{
  max-height:  40vh;
  overflow: hidden;
}
.image-rating{
  height: 20vh;
}
.image-rating-show{
  height: 30vh !important;
}
.collection-header{
 color:$main-color; 
}
.next_page, .previous_page{
  color: $main-color-dark !important;
}
.pagination li a{
  color: black;
}
