<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <%= link_to(image_tag("logo-black.png",class:" responsive-img brand-logo"),root_path)%>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <%=render('layouts/navbar_content')%>
      </ul>
    </div>
  </nav>
</div>
<ul class="sidenav" id="mobile-demo">
  <%=render('layouts/navbar_content')%>
</ul>